.gdbar img {
  width: 185px !important;
  height: 75px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 20px;
}

slides > slide:not(.nobackground):before {
  width: 123px;
  height: 50px;
  background-size: 123px 50px;
}

#commentary-image-slide {
  .column {float: left;}
  .left {width: 25%;}
  .right {width: 75%;}  
}
